<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventResponseTimeLabel" jhiTranslate="assetsmgmtApp.eventResponseTime.home.createOrEditLabel">Create or edit a Event Response Time</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!eventResponseTime.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="eventResponseTime.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assetsmgmtApp.eventResponseTime.assignedDate" for="field_assignedDate">Assigned Date</label>
            <div class="d-flex">
                <input id="field_assignedDate" type="datetime-local" class="form-control" name="assignedDate" [(ngModel)]="eventResponseTime.assignedDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assetsmgmtApp.eventResponseTime.unassignDate" for="field_unassignDate">Unassign Date</label>
            <div class="d-flex">
                <input id="field_unassignDate" type="datetime-local" class="form-control" name="unassignDate" [(ngModel)]="eventResponseTime.unassignDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assetsmgmtApp.eventResponseTime.eventOwner" for="field_eventOwner">Event Owner</label>
            <select class="form-control" id="field_eventOwner" name="eventOwner" [(ngModel)]="eventResponseTime.eventOwnerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
