
<div *ngIf="eventResponseTime">
    <h2><span jhiTranslate="assetsmgmtApp.eventResponseTime.detail.title">Event Response Time</span> {{eventResponseTime.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="assetsmgmtApp.eventResponseTime.assignedDate">Assigned Date</span></dt>
        <dd>
            <span>{{eventResponseTime.assignedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="assetsmgmtApp.eventResponseTime.unassignDate">Unassign Date</span></dt>
        <dd>
            <span>{{eventResponseTime.unassignDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="assetsmgmtApp.eventResponseTime.eventOwner">Event Owner</span></dt>
        <dd>
            {{eventResponseTime.eventOwnerId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-response-time/'+ eventResponseTime.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
