<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myServiceLabel" jhiTranslate="assetsmgmtApp.service.home.createOrEditLabel">Create or edit a Service</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!service.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="service.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assetsmgmtApp.service.startDate" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="service.startDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assetsmgmtApp.service.dueDate" for="field_dueDate">Due Date</label>
            <div class="d-flex">
                <input id="field_dueDate" type="datetime-local" class="form-control" name="dueDate" [(ngModel)]="service.dueDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assetsmgmtApp.service.completedDate" for="field_completedDate">Completed Date</label>
            <div class="d-flex">
                <input id="field_completedDate" type="datetime-local" class="form-control" name="completedDate" [(ngModel)]="service.completedDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assetsmgmtApp.service.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                [(ngModel)]="service.note"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assetsmgmtApp.service.assetUnderService" for="field_assetUnderService">Asset Under Service</label>
            <select class="form-control" id="field_assetUnderService" name="assetUnderService" [(ngModel)]="service.assetUnderServiceId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="assetOption.id" *ngFor="let assetOption of assets; trackBy: trackAssetById">{{assetOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assetsmgmtApp.service.servicingVendor" for="field_servicingVendor">Servicing Vendor</label>
            <select class="form-control" id="field_servicingVendor" name="servicingVendor" [(ngModel)]="service.servicingVendorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="vendorOption.id" *ngFor="let vendorOption of vendors; trackBy: trackVendorById">{{vendorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
